<article class="{{ if not .Site.Params.homepage.showRecent }}
    h-full
  {{ end }} flex flex-col items-center justify-center text-center">
    <section class="not-prose items-center mb-3 flex flex-col">
        {{ $lazy := site.Params.enableImageLazyLoading | default true }}
        {{ $altText := (site.Language.Params.Hero.title | default "Hero") }}
        {{ with site.Language.Params.Hero.image }}
        {{ $heroImage := resources.Get . }}
        {{ if $heroImage }}
        {{ $imgClass := "mb-2 h-auto w-36" }}
        {{ partial "picture.html" (dict "img" $heroImage "alt" $altText "class" $imgClass "lazy" $lazy) }}
        {{ end }}
        {{ end }}
        <h1 class="text-4xl font-extrabold">
            {{ site.Language.Params.Hero.title | default site.Title }}

        </h1>
        {{ with site.Language.Params.Hero.headline }}
        <h2 class="text-xl text-primary-400 dark:text-primary-500">
            {{ . | markdownify | emojify }}
        </h2>
        {{ end }}
        <div class="mt-1 text-2xl">
            {{ partialCached "author-links.html" . }}
        </div>
    </section>

    <section class="prose dark:prose-invert">{{ .Content | emojify }}</section>
</article>
<section>
    {{ partial "recent-articles.html" . }}
</section>