<div class="flex items-center justify-center {{ if not .Site.Params.homepage.showRecent }}h-full{{ end }}">
    <div class="flex flex-col sm:flex-row w-full items-center text-center sm:text-left">
        {{ $lazy := .Params.enableImageLazyLoading | default .Site.Params.enableImageLazyLoading | default true }}
        {{ $altText := ($.Site.Language.Params.Hero.title | default "Hero") }}
        {{ with .Site.Language.Params.Hero.image }}
        {{ $heroImage := resources.Get . }}
        {{ if $heroImage }}
        {{ $imgClass := "mb-4 sm:mb-0 sm:mr-4 h-auto w-36" }}
        {{ partial "picture.html" (dict "img" $heroImage "alt" $altText "class" $imgClass "lazy" $lazy) }}
        {{ end }}
        {{ end }}
        <article class="flex flex-col justify-center">
            <header class="mb-3">
                <h1 class="text-3xl md:text-4xl font-extrabold">
                    {{ .Site.Language.Params.Hero.title | default .Site.Title }}
                </h1>
                <div>
                    <h2 class="mb-2 text-lg md:text-xl text-neutral-400 dark:text-neutral-500">
                        {{ .Site.Language.Params.Hero.headline | markdownify | emojify }}
                    </h2>
                    <div class="mt-0 text-2xl sm:text-xl md:mt-1 md:text-2xl flex justify-center sm:justify-start">
                        {{ partialCached "author-links.html" . }}
                    </div>
                </div>
            </header>
            <section class="prose prose-sm md:prose dark:prose-invert md:dark:prose-invert">
                {{ .Content | emojify }}
            </section>
        </article>
    </div>
</div>
<section>
    {{ partial "recent-articles.html" . }}
</section>